.newCatFormGroup {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  align-items: center;
  padding: 10px 10px;
}

.newCatFormGroup h3 {
  padding-bottom: 1rem;
}

.NewCatInput {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.writeInput:focus {
  outline: none;
}

.buttonsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
