* {
  margin: 0;
}

body {
  background-color: #f9fff6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
textarea {
  font-family: "Open Sans", sans-serif;
}

a,
.link {
  color: #2c3d2b;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: #4c396f;
}

input,
textarea {
  padding: 3px 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  color: gray;
}
input:focus {
  outline: none;
}

textarea {
  height: 150px;
}
