* {
  margin: 0;
}

body {
  background-color: #f9fff6;
}

.page {
  margin-top: 76px;
  margin-bottom: 50px;
}
.pageLeft {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
textarea {
  font-family: "Open Sans", sans-serif;
}

a,
.link {
  color: #2c3d2b;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: #4c396f;
}

.serifTitle {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  cursor: pointer;
}

input,
textarea {
  padding: 3px 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  color: gray;
}
input:focus {
  outline: none;
}

textarea {
  height: 300px;
}

.submitWrapper {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.buttonSuccess {
  width: 90px;
  color: white;
  background-color: #2c3d2b;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.socialIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #ff989b;
  cursor: pointer;
}

/*Add bottom when outer columns stack on smaller screens*/
@media screen and (max-width: 767px) {
  .pageLeft {
    margin-bottom: 50px;
  }
}
