.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.noResults {
  width: 100%;
  padding-top: 15px;
  text-align: center;
}

.noResults p {
  color: darkred;
  font-weight: bold;
  margin-bottom: 15px;
}

.noResults a {
  text-decoration: underline;
}
