.navbar {
  background-color: #73816b;
  font-family: "Open Sans", sans-serif;
}
.navbar a {
  color: #ffd2d3 !important;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  padding: 3px;
}

.myResponsive {
  display: flex;
  justify-content: space-between;
}

.avatar {
  position: relative;
  background-color: #4c396f;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-weight: 700;
}
.avatar:hover {
  text-decoration: none;
}
.avatarChar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px) {
  .myResponsive {
    display: block;
  }
  .navSearch {
    margin: 10px 0 5px;
  }
}
