.singlePostWrapper {
  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 20px;
}

.singlePostTitleInput {
  margin: 10px 0;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: #2c3d2b;
}

.singlePostIcon:last-child {
  color: #ff8a8e;
}

.singlePostInfo {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #a6b1a0;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
  white-space: pre-line;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singlePostDescInput:focus {
  outline: none;
}

.singlePostFeat {
  margin-top: 1rem;
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: #a6b1a0;
}
.singlePostFeat .featIcon {
  font-size: 1.2rem;
  padding-right: 5px;
}

*/ .singlePostButtons {
  display: flex;
  justify-content: flex-end;
}

.singlePostButtons button:first-child {
  color: black;
  background-color: rgba(255, 210, 211, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.35);
  margin-right: 10px;
}

.singlePostCats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5rem;
}

.singlePostCat .link {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
