.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarImage {
  max-width: 100%;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 100%;
  border-top: 1px solid rgba(44, 61, 43, 0.4);
  border-bottom: 1px solid rgba(44, 61, 43, 0.4);
  font-family: "Old Standard TT", serif;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarDesc {
  /* text-align: center; */
}

.sidebarItem > img {
  margin-top: 15px;
}

.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
}

.sidebarListItem {
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
