.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerTitles {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ecffe1;
}

.bannerTitleSm {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.bannerTitleLg {
  font-size: 100px;
  font-family: "Old Standard TT", serif;
}

.bannerImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
