.contactFormGroup label {
  margin-top: 15px;
}
.contactFormGroup input,
.contactFormGroup textarea {
  width: 100%;
}
.inputWrapper:first-child {
  margin-right: 15px;
}

.inputWrapper {
  width: 100%;
}

.success {
  font-style: italic;
  color: green;
}

@media screen and (max-width: 767px) {
  .inputWrapper:first-child {
    margin-right: 0;
  }
  .contactFormGroup {
    flex-direction: column;
  }
}
