.post {
  margin-bottom: 35px;
}

.postImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 7px;
  margin-bottom: 15px;
}

.postCats {
  line-height: 12px;
}

.postCat {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #e28689;
  text-decoration: underline;
  padding-right: 10px;
  cursor: pointer;
}

.post hr {
  margin: 5px 0;
}

.postDate {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 13px;
  color: rgba(44, 61, 43, 0.65);
}

.postDesc {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
